{% extends "shop/base.html" %}
{% load static %}

{% block css-files %} 
    <link rel="stylesheet" href="{% static 'cart/css/cart.css' %}" />
{% endblock %}

{% block title %}
  Корзина покупок
{% endblock %}


{% block content %}
  <h1 class="h1">Корзина покупок</h1>
  <table  class="alingcenter" width="1900" height="400">
    <thead>
      <tr bgcolor="grey">
        <th>Фото</th>
        <th>Товар</th>
        <th>Обновити кількість</th>
        <th>Видалити</th>
        <th>Кількість</th>
        <th>Ціна за шт</th>
        <th>Загальна сумма</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with product=item.product %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">
                <img class="sizeimg" src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
              </a>
            </td>
            <td >{{ product.name }}</td>
            <td>
              <form  action="{% url 'cart:cart_add' product.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                <input type="submit" value="Обновити">
                {% csrf_token %}
              </form>
            </td>
            <td><a class="colora"  href="{% url 'cart:cart_remove' product.id %}">Видалити</a></td>
            <td >
              {{ item.quantity }}
            </td>
            <td >${{ item.price }}</td>
            <td >${{ item.total_price }}</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td >Всього</td>
        <td colspan="5"></td>
        <td >${{ cart.get_total_price }}</td>
      </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a class="colora" href="{% url 'product_list' %}" class="button light">В магазин</a>
    <a class="colora" href="{% url 'order_create' %}" class="button">Оформити заказ</a>
  </p>
{% endblock %}