.order-info{
    text-align: right;
}

.container{
    justify-content: space-between;
}

.order-chekbox{
    display: inline-block;
}

.order-form-item{
    
}

.order-form> p > input{
    outline: none;
    /* border: none;
    border-bottom: 2px solid red; */
}