* {
  margin: 0;
  padding: 0;
  transition: all 0.1s ease 0s;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container{
  width: 100%;
  padding: 0% 2%;
  display: flex;
}

html, body{
  height: 100%;
}

.page-wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main{
  flex: 1 1 auto;
}

#upbutton{
  display: none;
  text-align: right;
  margin-left: 92%;
  transform: scale(1.6);
  background-color: blueviolet;
  padding: 15px;
  border-radius: 50%;
}

@media screen and (min-width: 1940px) {
  .container{
      width: 1920px;
      margin: auto;
  }
}