.list-pages {
	text-align: center;
	margin: 0 0 20px 0;
    width: 100%;
}

.list-pages ul {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
}

.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;
    background-color: rgb(119, 0, 255);
}

.list-pages a {
	color: #000;
	font-size: 24px;
	text-decoration: none;
}

.list-pages .page-number, .page-number-selected {
	display: inline-block;
	width: 60px;
	height: 44px;
	padding: 8px 0 0 0;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}

.list-pages .page-number:hover {
	background-color: rgb(252, 215, 6);
}

.list-pages .page-number-selected {
	border: none;
	color: #000;
	font-size: 20px;
    background-color: rgb(98, 0, 255);
}

.list-pages .page-number-selected:hover {
	box-shadow: none; 
}
