{% extends 'shop/base.html' %}
{% load static %}

{% block css-files %} 
    <link rel="stylesheet" href="{% static 'shop/css/about-goods.css' %}" />
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    

<div class="container">
    <div class="left-columb">
            <img src="{% if product.main_image %}{{ product.main_image.url }}{% endif %}" alt="" class="active-img">
            {% for el in product_image %}
            <img src="{% if el.image %}{{ el.image.url }}{% endif %}" alt="" class="product-image">
        {% endfor %}
        <div class="similar-products">
            <p>Схожі товари</p>
        </div>
        <div class="box">
            <div class="box1">
                <a href="{{ product.category.get_absolute_url }}">
                    <img src="{% static 'shop/img/logo.png' %}">
                </a>
                <p>INTEL CORE i5 10TH GEN</p>
            </div>
            <div class="box1">
                <a href="{{ product.category.get_absolute_url }}">
                    <img src="{% static 'shop/img/logo.png' %}">
                </a>
                <p>INTEL CORE i5 10TH GEN</p>
            </div>
            <div class="box1">
                <a href="{{ product.category.get_absolute_url }}">
                    <img src="{% static 'shop/img/logo.png' %}">
                </a>
                <p>INTEL CORE i5 10TH GEN</p>
            </div>
            <div class="box1">
                <a href="{{ product.category.get_absolute_url }}">
                    <img src="{% static 'shop/img/logo.png' %}">
                </a>
                <p>INTEL CORE i5 10TH GEN</p>
            </div>
        </div>
    </div>
    <div class="right-columb"><!-- Product Description -->
        <div class="description">
            <h1>{{ product.name }}</h1>
            <div class="product-price">
                <p>{{ product.price }} ₴</p>
                <form action="{% url "cart:cart_add" product.pk %}" method="post">
                    {{ cart_product_form.quantity }}
                    {% csrf_token %}
                    <button type="submit" class="cart-btn">Купити</button>
                </form>
            </div>
            <input type="checkbox" class="read-more-checker" id="read-more-checker" />
            <div class="limited l-200">
                <p class="product-description">{{ product.description}}</p>
            <div class="bottom"></div>
            </div>
            <label for="read-more-checker" class="read-more-button"></label>
        </div>
        <p class="xarakteristick-label">Характеристики</p>
        <div class="product-characteristics">
            {% for c in characteristics %}
                <div class="product-characteristics-row">
                    <div class="product-characteristics-item"><p>{{ c.name }}</p></div>
                    <div class="product-characteristics-item"><p>{{ c.value }}</p></div>
                </div>
            {% endfor %}
        </div>
    </div>
</div



{% endblock %}

